<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <link rel="website icon" type="png"
    href="p.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="isi bg-gray-100 p-8">
    <div class="ejet p-8">
        <div class="text-3xl font-medium text-center mb-8">Card Komentar</div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            <!-- Your testimonials content here -->
            <div class="bg-white rounded-lg shadow-md p-4">
                <i class="fa-solid fa-quote-left text-4xl text-gray-500"></i>
                <p class="text-gray-700 mt-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci distinctio architecto odit iusto <br>
                    dolorem recusandae asperiores <br>officia deserunt, velit accusamus debitis natus ipsa impedit,
                     alias maxime consequuntur qui! Nam, sit.</p>
                <div class="flex items-center mt-4">
                    <img src="./img/AkuFreefire.png" alt="https://i.pinimg.com/564x/f8/d8/ee/f8d8ee294d90c2b20ed800ad9979ea58.jpg" class="w-12 h-12 rounded-full mr-2">
                    <p class="text-gray-700">Aku anak Free Fire</p>
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md p-4">
                <i class="fa-solid fa-quote-left text-4xl text-gray-500"></i>
                <p class="text-gray-700 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, deleniti,<br>
                   facilis magni beatae vitae cupiditate quae corrupti excepturi commodi nesciunt aut <br>laborum recusandae quia. 
                   Numquam cupiditate quos expedita tempora earum.</p>
                <div class="flex items-center mt-4">
                    <img src="https://i.pinimg.com/564x/f3/0b/93/f30b934c2c5ba4df24d1efb64294102a.jpg" alt="" class="w-12 h-12 rounded-full mr-2">
                    <p class="text-gray-700">Farhan Kebab</p>
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md p-4">
                <i class="fa-solid fa-quote-left text-4xl text-gray-500"></i>
                <p class="text-gray-700 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                   Incidunt adipisci laborum quis suscipit amet quos accusamus
                   exercitationem distinctio sequi! <br> Molestiae tenetur labore,
                   nisi error ipsum sint nobis dolorum rem architecto!
                </p>
                <div class="flex items-center mt-4">
                    <img src="https://i.pinimg.com/564x/59/29/cd/5929cd182e8b8985486e37d9d315481d.jpg" alt="" class="w-12 h-12 rounded-full mr-2">
                    <p class="text-gray-700">Gelombang Pasang</p>
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md p-4">
                <i class="fa-solid fa-quote-left text-4xl text-gray-500"></i>
                <p class="text-gray-700 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                   Incidunt adipisci laborum quis suscipit amet quos accusamus
                   exercitationem distinctio sequi! <br> Molestiae tenetur labore,
                   nisi error ipsum sint nobis dolorum rem architecto!
                </p>
                <div class="flex items-center mt-4">
                    <img src="https://i.pinimg.com/564x/59/29/cd/5929cd182e8b8985486e37d9d315481d.jpg" alt="" class="w-12 h-12 rounded-full mr-2">
                    <p class="text-gray-700"></p>
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md p-4">
                <i class="fa-solid fa-quote-left text-4xl text-gray-500"></i>
                <p class="text-gray-700 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                   Incidunt adipisci laborum quis suscipit amet quos accusamus
                   exercitationem distinctio sequi! <br> Molestiae tenetur labore,
                   nisi error ipsum sint nobis dolorum rem architecto!
                </p>
                <div class="flex items-center mt-4">
                    <img src="https://i.pinimg.com/564x/59/29/cd/5929cd182e8b8985486e37d9d315481d.jpg" alt="" class="w-12 h-12 rounded-full mr-2">
                    <p class="text-gray-700">Farhan Kebab</p>
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md p-4">
                <i class="fa-solid fa-quote-left text-4xl text-gray-500"></i>
                <p class="text-gray-700 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                   Incidunt adipisci laborum quis suscipit amet quos accusamus
                   exercitationem distinctio sequi! <br> Molestiae tenetur labore,
                   nisi error ipsum sint nobis dolorum rem architecto!
                </p>
                <div class="flex items-center mt-4">
                    <img src="https://i.pinimg.com/564x/59/29/cd/5929cd182e8b8985486e37d9d315481d.jpg" alt="" class="w-12 h-12 rounded-full mr-2">
                    <p class="text-gray-700">Farhan Kebab</p>
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md p-4">
                <i class="fa-solid fa-quote-left text-4xl text-gray-500"></i>
                <p class="text-gray-700 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                   Incidunt adipisci laborum quis suscipit amet quos accusamus
                   exercitationem distinctio sequi! <br> Molestiae tenetur labore,
                   nisi error ipsum sint nobis dolorum rem architecto!
                </p>
                <div class="flex items-center mt-4">
                    <img src="https://i.pinimg.com/564x/59/29/cd/5929cd182e8b8985486e37d9d315481d.jpg" alt="" class="w-12 h-12 rounded-full mr-2">
                    <p class="text-gray-700">Farhan Kebab</p>
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md p-4">
                <i class="fa-solid fa-quote-left text-4xl text-gray-500"></i>
                <p class="text-gray-700 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                   Incidunt adipisci laborum quis suscipit amet quos accusamus
                   exercitationem distinctio sequi! <br> Molestiae tenetur labore,
                   nisi error ipsum sint nobis dolorum rem architecto!
                </p>
                <div class="flex items-center mt-4">
                    <img src="https://i.pinimg.com/564x/59/29/cd/5929cd182e8b8985486e37d9d315481d.jpg" alt="" class="w-12 h-12 rounded-full mr-2">
                    <p class="text-gray-700">Farhan Kebab</p>
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md p-4">
                <i class="fa-solid fa-quote-left text-4xl text-gray-500"></i>
                <p class="text-gray-700 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                   Incidunt adipisci laborum quis suscipit amet quos accusamus
                   exercitationem distinctio sequi! <br> Molestiae tenetur labore,
                   nisi error ipsum sint nobis dolorum rem architecto!
                </p>
                <div class="flex items-center mt-4">
                    <img src="https://i.pinimg.com/564x/59/29/cd/5929cd182e8b8985486e37d9d315481d.jpg" alt="" class="w-12 h-12 rounded-full mr-2">
                    <p class="text-gray-700">Farhan Kebab</p>
                </div>
                <button class="scroll-button scroll-button-left" onclick="scrollLeft()"><i class="fas fa-chevron-left"></i></button>
                <button class="scroll-button scroll-button-right" onclick="scrollRight()"><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
    </div>
    </div>
</div>
<script>
    function scrollLeft() {
        document.querySelector('.grid-wrapper').scrollLeft -= 1000;
    }

    function scrollRight() {
        document.querySelector('.grid-wrapper').scrollLeft += 1000;
    }
</script>
<!-- Code injected by live-server -->
<script>
	// <![CDATA[  <-- For SVG support
	if ('WebSocket' in window) {
		(function () {
			function refreshCSS() {
				var sheets = [].slice.call(document.getElementsByTagName("link"));
				var head = document.getElementsByTagName("head")[0];
				for (var i = 0; i < sheets.length; ++i) {
					var elem = sheets[i];
					var parent = elem.parentElement || head;
					parent.removeChild(elem);
					var rel = elem.rel;
					if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
						var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
						elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
					}
					parent.appendChild(elem);
				}
			}
			var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
			var address = protocol + window.location.host + window.location.pathname + '/ws';
			var socket = new WebSocket(address);
			socket.onmessage = function (msg) {
				if (msg.data == 'reload') window.location.reload();
				else if (msg.data == 'refreshcss') refreshCSS();
			};
			if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
				console.log('Live reload enabled.');
				sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
			}
		})();
	}
	else {
		console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
	}
	// ]]>
</script>
</body>
</html>